<div id="<%= dom_id user %>" class="user-card">
  <div class="user-card-field">
    <strong class="user-card-label">Email:</strong>
    <%= user.email %>
  </div>

  <div class="user-card-field">
    <strong class="user-card-label">Nick name:</strong>
    <%= user.name %>
  </div>

  <div class="user-card-field">
    <strong class="user-card-label">Bio:</strong>
    <%= user.bio %>
  </div>
</div>
