<% content_for :title, "Registraion" %>

<div class="user-new-wrapper">
  <div class="user-new-card">
    <h1 class="user-new-title">Please follow registration</h1>

    <%= render "form", user: @user %>
  </div>
</div>
